<div>
  <div class='head'>
    <img src='https://i.ibb.co/LSdmRyH/bg-pattern.jpg' alt='' />
    <h1>
      Ubah Kata Sandi
    </h1>
  </div>

  <div>
    <div>
      <img src='https://i.ibb.co/kSj80WX/logo.png' alt='logo halostemba' />
    </div>
    <p>
      Halo
      {{name}},
    </p>
    <p>Terima kasih telah mendaftar di halostemba. Untuk melanjutkan dan
      mengaktifkan akun Anda, kami memerlukan verifikasi alamat email Anda.
      Silakan klik tombol di bawah ini untuk menyelesaikan proses verifikasi:</p>
    <button> <a href={{url}}></a></button>
    <hr />
    <p>Atau silahkan kunjungi link berikut
      <a href={{link}}>{{link}}</a></p>
    <p>
      Harap gunakan link ini dalam waktu<span style='font-weight: bold;'>
        5 menit
      </span>sebelum kadaluarsa.
    </p>
    <p>
      Terima kasih atas partisipasi Anda dalam halostemba. Kami berharap Anda
      menikmati pengalaman penggunaan kami!
    </p>
    <p>Salam,
    </p>
    <p>Tim Layanan halostemba</p>

  </div>
</div>