<img src='https://i.ibb.co/kSj80WX/logo.png' alt='logo halostemba' />

<p> Halo {{name}},</p>

<p>
  Terima kasih telah menggunakan layanan kami!
</p>

<p>
  Untuk melanjutkan proses verifikasi, silahkan klik link dibawah ini:
</p>

<p>
  {{url}}
</p>

<p>
  Harap gunakan link ini dalam waktu 5 menit sebelum kadaluarsa.
</p>

<p>
  Jangan berikan link ini kepada siapapun, termasuk tim kami. Kami tidak pernah
  meminta informasi ini untuk alasan keamanan.
</p>

<p>
  Terima kasih atas kepercayaan Anda kepada kami.
</p>

<p>
  Salam,
</p>
<p>
  Tim Layanan halostemba
</p>