<div>
  <div class='head'>
    <img src='https://i.ibb.co/LSdmRyH/bg-pattern.jpg' alt='' />
    <h1>
      Ubah Kata Sandi
    </h1>
  </div>

  <div>
    <div>
      <img src='https://i.ibb.co/kSj80WX/logo.png' alt='logo halostemba' />
    </div>
    <p>
      Halo
      {{name}},
    </p>
    <p>Terima kasih telah menggunakan layanan kami! Untuk melanjutkan proses
      verifikasi, berikut adalah kode One-Time Password (OTP) Anda:</p>
    <h2>
      {{otp}}
    </h2>
    <hr />
    <p>
      Harap gunakan kode ini dalam waktu<span style='font-weight: bold;'>
        5 menit
      </span>sebelum kadaluarsa.
    </p>
    <p>
      Jangan berikan kode ini kepada siapapun, termasuk tim kami. Kami tidak
      pernah meminta informasi ini untuk alasan keamanan.
    </p>
    <p>Salam,
    </p>
    <p>Tim Layanan halostemba</p>

  </div>
</div>