<html lang='id'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Pemberitahuan Perubahan Password</title>
  </head>

  <body>
    <div style='text-align: center; padding: 20px;'>
      <img src='https://i.ibb.co/kSj80WX/logo.png' alt='logo halostemba' />
    </div>

    <div
      style='max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f4f4f4;'
    >
      <h2>Pemberitahuan Perubahan Password</h2>
      <p>Halo {{name}},</p>
      <p>Kami ingin memberitahu Anda bahwa password Anda telah berhasil diubah.</p>
      <p>Jika Anda tidak melakukan perubahan ini atau membutuhkan bantuan lebih
        lanjut, harap hubungi tim dukungan kami segera.</p>
      <br />
      <p>Terima kasih telah menggunakan layanan kami.</p>
      <br />
      <p>Salam terbaik,<br /> Tim halostemba</p>
    </div>
  </body>

</html>